<!DOCTYPE html>
{% load static %}
<head>

</head>
<body>
    <h1>Hello, How are you?</h1>
    <form action="{% url 'landingpage:index' %}" method="POST">
        {% csrf_token %}
        <p>Say what's on your mind</p>
        {{ form.status }}
        <input type="submit" value="post">
    </form>
    <ul>
        {% for stats in status_list %}
        <li>
            {{ stats.status}}
        </li>
        {% endfor %}
    </ul>

</body>